<html>
<head>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>
        <%= title%>
    </title>

</head>
<body >
<nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6 bg-green-400">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-semibold text-xl tracking-tight">CleanWeb</span>
    </div>
    <div class="block lg:hidden">
        <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
        </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow">
            <a href="#responsive-header" class="block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white">
                Shivanshu
            </a>
        </div>
        <div>
            <a href="/users/sign-in" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-black-500 hover:bg-black mt-4 lg:mt-0">Sign In</a>
        </div>
    </div>
</nav>

    <center>
        <h1>Hello I am Shivanshu and this is the home page of my website CleanWeb.....</h1>
        <h1>This is the home page of / <%= title%></h1>
        <h1>Website coming up soon</h1>
<!--        <section id="feed-posts">-->
<!--            <h4>Posts</h4>-->
<!--            <form action="/posts/create" id="new-post-form" method="POST">-->
<!--                <textarea name="content" id="" cols="30" rows="3" placeholder="Type Here"></textarea>-->
<!--                <input type="submit" value="Post">-->
<!--            </form>-->
<!--        </section>-->
    </center>
<!-- post card -->
<% if(locals.user){%>
<div class="border-2 border-red-300 flex bg-white shadow-lg rounded-lg mx-4 md:mx-auto my-56 max-w-md md:max-w-2xl "><!--horizantil margin is just for display-->
    <div class="flex items-start px-4 py-6">
        <img class="w-12 h-12 rounded-full object-cover mr-4 shadow" src="https://images.unsplash.com/photo-1542156822-6924d1a71ace?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="avatar">
        <div class="">
            <div class="flex items-center justify-between">
                <h2 class="text-lg font-semibold text-gray-900 -mt-1"><% if(locals.user){%>
                        <%= user.name%>
                    <% }else{%>
                        Please Sign In
                <% } %>
                </h2>
            </div>
            <form action="/posts/create" id="new-post-form" method="POST" >
                <textarea class="border-2 border-gray-600" name="content" id="" cols="70" rows="3" placeholder="Type Here"></textarea>
                <input type="submit" value="Post">
            </form>

            <center>
                <div id="posts-list-container">
                    <ul>
                        <% for(post of posts){ %>
                            <li>
                                <p>
                                    <%= post.content %>
                                    <br>
                                    <small>
                                        <%= post.user.name%>
                                    </small>
                                </p>
                                <div class="post-comments">

                                    <% if(locals.user){ %>
                                        <form action="/comments/create" method="POST">
                                            <input type="text" name="content" placeholder="Type Here">
                                            <input type="hidden" name="post" value="<%= post._id%>">
                                            <input type="submit" value="Add Comment">
                                        </form>
                                    <% } %>
                                </div>

                            </li>
                        <%} %>
                    </ul>
                </div>
            </center>

        </div>
    </div>
</div>

<% } %>







</body>
</html>